@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css');

:root {
    --clr-black: #151413;
    --clr-red: rgb(154, 36, 36);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fbede0;
}


/* Header Section */
.header {
    height: 7vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    letter-spacing: 2px;
    background-color: rgba(0, 0, 0, 0.9);
}

.header__logo {
    display: grid;
    align-items: center;
    margin-left: 10rem;
    font-size: 1.5rem;
}

#header__logo {
    width: 6vh;
}

.header__nav {
    display: grid;
    align-items: center;
}

.header__nav ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
    list-style-type: none;
}

.header__nav ul li {
    display: flex;
    gap: 5px;
    height: 100%;
}

.header__nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    gap: 5px;
    font-family: 'Montserrat', sans-serif;
}

.nav__img {
    max-width: 20px;
    height: 20px;
} 

/* Location Section */
.location {
    display: grid;
    grid-template-rows: 100px 1fr;
    place-items: center;
}

.location__header {
    display: grid;
    place-items: center;
}

.location__nav {
    display: flex;
    gap: 2rem;
}

.btn {
    width: 100px;
    height: 50px;
    background-color: #fbecdf;
    border-radius: 15px;
}

.location__items {
    display: grid;
    width: 50vw;
    place-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.location__item {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
    padding: 1rem;
    border: 1px solid black;
    background-color: #1f1f1f;
    border-radius: 15px;
    color: var(--clr-grey-9)
}

.location__title {
    font-size: 1.5rem;
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}

.location__address {
    font-size: 1.3rem;
    height: 50px;
    display: flex;
    align-items: center;
}

.location__workingHours {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#hours {
    color: yellow;
    font-size: 1rem;
}

.location__workingHours__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.1rem;
}

/* Footer Section */
.footer {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    margin-top: 15em;
}

.footer__links {
    margin-top: 4rem;
}

.footer__links ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
}

.footer__links ul li a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
}

.footer__socialMedia ul {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    list-style-type: none;
}

.footer__socialMedia ul li a {
    text-decoration: none;
    color: black;
    font-size: 2rem;
}

.footer__iconsMadeBy {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
}

.footer__iconsMadeBy a {
    color: black;
    letter-spacing: 2px;
    text-decoration: none;
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ================ */
@media screen and (min-width: 200px) and (max-width: 1400px) {

    /* Media (SMALL DEVICES) Header Section */
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
    }

    .header__logo {
        display: none;
    }

    .header__nav ul {
        gap: 1rem;
    }

    .nav__img {
        display: none;
    }

    .header__nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 2.5vw;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    /* Media (SMALL DEVICES) Shop and Cart Sections */
    .shop {
        grid-template-columns: 1fr;
        margin: 0 auto;
        margin-top: 4rem;
        display: grid;
        place-items: center;
    }

    .shop-item {
        display: grid;
        grid-template-columns: 200px;
        height: 600px;
        width: 300px;
        background-color: #1f1f1f;
        border-radius: 15px;
        color: white;
    }

    .shop-item__left,
    .shop-item__right {
        width: 300px;
    }

    .shop-item__item-image {
        height: 300px;
        width: 300px;
    }

    .shop-overlay__item {
        width: auto;
    }

    .content-section {
        width: 100%;
    }

    .content-section__cart-row {
        width: 100%;
    }

    .cart-column {
        display: flex;
    }

    .btn-danger {
        width: 30px;
        height: 40px;
        font-size: 0.40rem;
    }

    .cart-item-title {
        font-size: 1rem;
    }

    .cart-item-image {
        width: 100px;
        height: 100px;
    }

    .btn {
        width: 65px;
    }

    #hours {
        text-align: right;
    }

    /* Media (SMALL DEVICES) Location Section */
    .location__workingHours {
        gap: 20px;
    }

    .location__workingHours__item {
        display: grid;
        grid-template-columns: 1.5fr 1fr;
    }

    .location {
        grid-template-rows: 200px 1fr;
    }

    .location__nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .location__items {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }

    .location__item {
        width: 250px;
    }

    /* Media (SMALL DEVICES) Footer Section */
    .footer__links ul {
        display: flex;
        flex-direction: column;
    }

    .footer__iconsMadeBy a {
        font-size: 0.75rem;
    }
}

/* ================= MEDIA QUERIES (MEDIUM DEVICES) ================ */
@media screen and (min-width: 900px) and (max-width: 1500px) {

    /* Media (MEDIUM DEVICES) Header Section  */
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .header__logo {
        display: none;
    }

    .header__nav ul {
        gap: 1rem;
    }

    .header__nav ul li a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        font-family: 'Montserrat', sans-serif;
    }

    .nav__img {
        display: none;
    }

    /* Media (MEDIUM DEVICES) Footer Section */
    .footer__links ul {
        gap: 40px;
    }

    .footer__links ul li a {
        font-size: 2rem;
    }

    .footer__iconsMadeBy a {
        font-size: 1rem;
    }

    .footer__socialMedia ul li a {
        font-size: 3rem;
    }
}